.audio-visualizer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
    opacity: 0.25;
    /* Much more subtle */
    border-radius: inherit;
    mix-blend-mode: screen;
}